.home{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home main{
    max-width: 700px;
}

.home form{
    width: 35%;
    box-shadow: 5px 6px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 6px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 6px 12px 0px rgba(0,0,0,0.75);
padding: 2rem;
border-radius: 10px;
}

.home form button{
    width: 100%;
}